$button-default-background-gradient: null !default;
$button-default-background-gradient-over: null !default;
$button-default-background-gradient-pressed: null !default;
$button-default-background-gradient-disabled: null !default;
$button-toolbar-background-gradient: null !default;
$button-toolbar-background-gradient-over: null !default;
$button-toolbar-background-gradient-pressed: null !default;
$button-toolbar-background-gradient-disabled: null !default;

$button-default-border-color: $base-color !default;
$button-toolbar-border-color: $neutral-medium-dark-color !default;

/* Modifications */
$button-small-font-size: ceil($font-size * 1.1) !default;